@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --accent: #0070f3;
  --accent-hover: #0761d1;
  --secondary: #111111;
  --secondary-foreground: #888888;
  --muted: #333333;
  --muted-foreground: #666666;
  --border: #333333;
  --card: #111111;
  --card-foreground: #f7f7f7;
  --subtle-gradient: linear-gradient(to bottom right, rgba(1, 65, 255, 0.2), rgba(1, 65, 255, 0));
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}